<input type="hidden" value="https://www.google.com/maps/place/Chapman+University/@33.793253,-117.853086,3a,75y,40.15h,91.68t/data=!3m4!1e1!3m2!1s_I_puo3Zm1Tn9YTCZwR6-Q!2e0!4m2!3m1!1s0x80dcd9e1d9d6e8ef:0x6ebb27c51b72a8ec">
<input type="hidden" value="https://www.google.com/maps/place/Acropolis+of+Athens/@37.972788,23.72582,3a,75y,257.74h,90t/data=!3m4!1e1!3m2!1sxr7KEgn5jYhwnwU5faV8kw!2e0!4m2!3m1!1s0x14a1bd1837f5acf3:0x5c97c042f5eb0df6!6m1!1e1">
<input type="hidden" value="https://www.google.com/maps/place/Acropolis+of+Athens/@37.971822,23.726532,3a,75y,163.13h,97.6t/data=!3m5!1e1!3m3!1sfPhZjlaq_sAAAAQYNw-Ypw!2e0!3e11!4m2!3m1!1s0x14a1bd1837f5acf3:0x5c97c042f5eb0df6">
<input type="hidden" value="https://www.google.com/maps/@40.457195,-79.976916,3a,90y,96.44h,88.27t/data=!3m4!1e1!3m2!1sHU4zdisK8YZzKdsQXepCmg!2e0">
<input type="hidden" value="https://www.google.com/maps/place/London,+UK/@51.507114,-0.12743,3a,75y,329.34h,91.67t/data=!3m4!1e1!3m2!1szNAIMn4F2T2nsx6R9sF8tg!2e0!4m2!3m1!1s0x47d8a00baf21de75:0x52963a5addd52a99">
<input type="hidden" value="https://www.google.com/maps/place/London,+UK/@51.507114,-0.12743,3a,75y,331.12h,49.87t/data=!3m4!1e1!3m2!1szNAIMn4F2T2nsx6R9sF8tg!2e0!4m2!3m1!1s0x47d8a00baf21de75:0x52963a5addd52a99">
<input type="hidden" value="https://www.google.com/maps/place/Acropolis+of+Athens/@37.971526,23.725783,3a,15y,19.68h,103.6t/data=!3m5!1e1!3m3!1sndpIF2nFl7EAAAQYWBSWdw!2e0!3e11!4m2!3m1!1s0x0000000000000000:0x5c97c042f5eb0df6">
<input type="hidden" value="https://www.google.com/maps/place/Chapman+University/@33.798463,-117.855266,3a,75y,74.5h,91.24t/data=!3m4!1e1!3m2!1sPuTIfclQ0J5FbIGw9x_i7g!2e0!4m2!3m1!1s0x80dcd9e1d9d6e8ef:0x6ebb27c51b72a8ec">
<input type="hidden" value="https://www.google.com/maps/place/Chapman+University/@33.793316,-117.849647,3a,75y,297.57h,77.74t/data=!3m4!1e1!3m2!1sxuHOtvLOQQASDImPdswovQ!2e0!4m2!3m1!1s0x80dcd9e1d9d6e8ef:0x6ebb27c51b72a8ec">
<input type="hidden" value="https://www.google.com/maps/place/Chapman+University/@33.793614,-117.844385,3a,75y,84.26h,90t/data=!3m4!1e1!3m2!1syX3Ij-kdoMBFwthoRm-1Xg!2e0!4m2!3m1!1s0x80dcd9e1d9d6e8ef:0x6ebb27c51b72a8ec">
<input type="hidden" value="https://www.google.com/maps/place/Chapman+University/@33.79074,-117.856352,3a,75y,71.26h,92.52t/data=!3m4!1e1!3m2!1slI-fXVjL6r1NZmchuTYlCQ!2e0!4m2!3m1!1s0x80dcd9e1d9d6e8ef:0x6ebb27c51b72a8ec">
<input type="hidden" value="https://www.google.com/maps/place/Chapman+University/@33.792453,-117.897585,3a,75y,298.09h,89.44t/data=!3m4!1e1!3m2!1s0oaCVqw07De1xxEpe_Ueyw!2e0!4m2!3m1!1s0x80dcd9e1d9d6e8ef:0x6ebb27c51b72a8ec">
<input type="hidden" value="https://www.google.com/maps/@33.78329,-117.882399,3a,75y,5.35h,90.68t/data=!3m4!1e1!3m2!1sjn_4ZV_5MBHxHg7FCYVuPQ!2e0">



<div class="map" id="map" style="height: 70%; width: 100%">

</div>
<div class="streetVieBar" id="streetViewBar"></div>

<script charset="utf-8">
  new StreetViewBar();
  new MapGen();
</script>
