<div id="fb-root"></div>

<div class="noscript">
  <p>
    Some of the content on this website requires JavaScript to be enabled in your web browser to function as intended. This includes, but is not limited to: Flash (also requires the <a href="https://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank" title="Get Adobe Flash Player (link opens in a new browser window)">Adobe Flash Player</a>), navigation, video, image galleries, etc. While the website is still usable without JavaScript, it should be enabled to enjoy the full interactive experience.
  </p>
</div>

<div class="virtualTour" id="container">

  <!-- virtualTour-mainColumn -->
  <div id="virtualTour-mainColumn">

    <header>

      <div class="virtualTour-wrapper">
        <a class="logo" href="../../../index.aspx" itemscope="itemscope" itemtype="http://schema.org/Organization">
          <h1><span itemprop="name">Chapman University</span></h1>
        </a>
      </div>

    </header>

    <div class="primaryContent clearfix">

      <div class="main">

        <div class="breadcrumbs clearfix">
          <ul>
            <li>
              <a class="home" href="../../../index.aspx">Home</a>
            </li>
            <li>
              <span class="bullet">»</span>
              <a href="../../index.aspx">Discover Chapman</a>
            </li>
            <li>
              <span class="bullet">»</span>
              <a href="../index.aspx">Maps and Directions</a>
            </li>
            <li>
              <span class="bullet">»</span>
              Campus Map
            </li>
          </ul>
        </div>

        <div class="issues"><a href="browser-issues.aspx" title="Issues viewing the map?">Issues viewing the map?</a></div>

        <div class="virtualTour-scrollShadow"></div>

        <div class="scroll-pane" id="virtualTour-scrollPane">

          <h1>Campus Map</h1>

          <a href="#" id="virtualTour-backButton">
            &lt; back
          </a>

          <a href="/./" id="virtualTour-deepLink">
            <img alt="Link icon" src="./virtualTour/img/linkIcon.png"/>
          </a>

          <div id="virtualTour-deepLinkDialog" title="Basic dialog">
            <input id="virtualTour-deepLinkTextField" type="textfield"/>
          </div>

          <div class="virtualTour-wrapper" id="virtualTour-wrapper">

            <ul class="clearfix" id="virtualTour-mainNavigation">
              <li class="virtualTour-mainNavigationItem"><a class="virtualTour-mainNavigationButton icon" data-action="menu" href="#virtualTour-menu" id="virtualTour-mainNavigationMenuButton" title="Menu"><span>Menu</span></a></li>
              <li class="virtualTour-mainNavigationItem"><a class="virtualTour-mainNavigationButton icon" data-action="search" href="#virtualTour-search" id="virtualTour-mainNavigationSearchButton" title="Search"><span class="staticText">Search</span></a></li>
              <li class="virtualTour-mainNavigationItem"><a class="virtualTour-mainNavigationButton" data-action="maps" href="http://www.maps.google.com" id="virtualTour-mainNavigationViewOnMapButton" target="_blank" title="View on Google Maps"><span class="staticText">View on Google Maps</span></a></li>
            </ul>

            <div class="virtualTour-contentPanel" id="virtualTour-search">
              <input id="virtualTour-searchField" placeholder="Search locations" type="text"/>
              <div id="virtualTour-searchResults">
                <h2>Search Results</h2>
                <div class="virtualTour-searchResultsStats">
                  <span id="virtualTour-numItems">0</span> items found
                </div>
                <ul class="virtualTour-searchResults" id="virtualTour-searchResultsList">
                </ul>
              </div>
            </div>

            <div class="virtualTour-contentPanel" id="virtualTour-categoryMenu">

              <ul id="virtualTour-categories">
                <li class="virtualTour-category">
                  <input class="virtualTour-categoryCheckbox parent icon" id="aid" name="aid" type="checkbox" value="aid" />
                  <label class="icon virtualTour-categoryCheckboxLabel" for="aid"><span>Emergency Services</span></label>
                  <a class="virtualTour-aid virtualTour-categoryButton icon icon-aid" href="#">Emergency Services</a>
                  <ul class="virtualTour-subCategories">
                    <li class="virtualTour-subCategory" data-search-terms="student health services">
                      <input class="virtualTour-categoryCheckbox child" data-latitude="33.793591"
                      data-longitude="-117.853413" id="subCat-af3aced9c04d744c053b2b2b6bf2ab96" name=
                      "aid" type="checkbox" value=
                      "subCat-af3aced9c04d744c053b2b2b6bf2ab96" /><label class=
                      "icon virtualTour-categoryCheckboxLabel" for=
                      "subCat-af3aced9c04d744c053b2b2b6bf2ab96"><span>Student Health
                      Services</span></label> <a class="virtualTour-subCategoryLink" data-checkbox-id=
                      "subCat-af3aced9c04d744c053b2b2b6bf2ab96" href="attractions/one.html">Student
                      Health Services</a></li>

                    <li class="virtualTour-subCategory" data-search-terms="public safety">
                    <input class="virtualTour-categoryCheckbox child" data-latitude="33.793738"
                    data-longitude="-117.853405" id="subCat-af31e214c04d744c053b2b2bb9c8fe6c" name=
                    "aid" type="checkbox" value=
                    "subCat-af31e214c04d744c053b2b2bb9c8fe6c" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-af31e214c04d744c053b2b2bb9c8fe6c"><span>Public
                    Safety</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-af31e214c04d744c053b2b2bb9c8fe6c" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/campus-and-student-services/public-safety.aspx">Public
                    Safety</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - escalette plaza"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.792339" data-longitude=
                    "-117.850941" id="subCat-5a4d897bc04d744c2782f72b6dcca9a6" name="aid" type=
                    "checkbox" value="subCat-5a4d897bc04d744c2782f72b6dcca9a6" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5a4d897bc04d744c2782f72b6dcca9a6"><span>Emergency Phone - Escalette
                    Plaza</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5a4d897bc04d744c2782f72b6dcca9a6" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-escalette.aspx">Emergency Phone -
                    Escalette Plaza</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - liberty plaza"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.792713" data-longitude=
                    "-117.851973" id="subCat-5c3a8a8ec04d744c2782f72bae47f645" name="aid" type=
                    "checkbox" value="subCat-5c3a8a8ec04d744c2782f72bae47f645" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3a8a8ec04d744c2782f72bae47f645"><span>Emergency Phone - Liberty
                    Plaza</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5c3a8a8ec04d744c2782f72bae47f645" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-berlin-wall.aspx">Emergency Phone -
                    Liberty Plaza</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - 635 w. palm lot"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.792959" data-longitude=
                    "-117.851973" id="subCat-5c3b28c8c04d744c2782f72b7c039dab" name="aid" type=
                    "checkbox" value="subCat-5c3b28c8c04d744c2782f72b7c039dab" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3b28c8c04d744c2782f72b7c039dab"><span>Emergency Phone - 635 W. Palm
                    Lot</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5c3b28c8c04d744c2782f72b7c039dab" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-635-palm.aspx">Emergency Phone - 635 W.
                    Palm Lot</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - global citizen's plaza"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.79409" data-longitude=
                    "-117.852005" id="subCat-5c3b9d6ec04d744c2782f72bb8efdc35" name="aid" type=
                    "checkbox" value="subCat-5c3b9d6ec04d744c2782f72bb8efdc35" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3b9d6ec04d744c2782f72bb8efdc35"><span>Emergency Phone - Global
                    Citizen's Plaza</span></label><a class="virtualTour-subCategoryLink"
                    data-checkbox-id="subCat-5c3b9d6ec04d744c2782f72bb8efdc35" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-global-citizens-plaza.aspx">Emergency
                    Phone - Global Citizen's Plaza</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - partridge dance studio"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.78931" data-longitude=
                    "-117.856643" id="subCat-5c3c1b72c04d744c2782f72b7cb88514" name="aid" type=
                    "checkbox" value="subCat-5c3c1b72c04d744c2782f72b7cb88514" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3c1b72c04d744c2782f72b7cb88514"><span>Emergency Phone - Partridge Dance
                    Studio</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5c3c1b72c04d744c2782f72b7cb88514" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-patridge-dance-center.aspx">Emergency
                    Phone - Partridge Dance Studio</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - masson family beach club"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.79575" data-longitude=
                    "-117.84935" id="subCat-5c3c730bc04d744c2782f72beda4f6ce" name="aid" type=
                    "checkbox" value="subCat-5c3c730bc04d744c2782f72beda4f6ce" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3c730bc04d744c2782f72beda4f6ce"><span>Emergency Phone - Masson Family
                    Beach Club</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5c3c730bc04d744c2782f72beda4f6ce" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-masson-family-beach-club.aspx">Emergency
                    Phone - Masson Family Beach Club</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - barrera parking structure"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.792496" data-longitude=
                    "-117.855155" id="subCat-5c3cdba3c04d744c2782f72b58273a9a" name="aid" type=
                    "checkbox" value="subCat-5c3cdba3c04d744c2782f72b58273a9a" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3cdba3c04d744c2782f72b58273a9a"><span>Emergency Phone - Barrera Parking
                    Structure</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5c3cdba3c04d744c2782f72b58273a9a" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-barrera.aspx">Emergency Phone - Barrera
                    Parking Structure</a></li>

                    <li class="virtualTour-subCategory" data-search-terms=
                    "emergency phone - knott studio lot"><input class=
                    "virtualTour-categoryCheckbox child" data-latitude="33.789823" data-longitude=
                    "-117.855579" id="subCat-5c3df072c04d744c2782f72bef36d57c" name="aid" type=
                    "checkbox" value="subCat-5c3df072c04d744c2782f72bef36d57c" /><label class=
                    "icon virtualTour-categoryCheckboxLabel" for=
                    "subCat-5c3df072c04d744c2782f72bef36d57c"><span>Emergency Phone - Knott Studio
                    Lot</span></label><a class="virtualTour-subCategoryLink" data-checkbox-id=
                    "subCat-5c3df072c04d744c2782f72bef36d57c" href="http://www.chapman.edu/discover/maps-directions/campus-map/attractions/emergency/emergency-phone-dodge-parking.aspx">Emergency Phone -
                    Knott Studio Lot</a></li>
                  </ul>
                </li>
              </ul>

            </div>

            <a href="http://www.chapman.edu/discover/maps-directions/campus-map/feedback-form.aspx" id="feedbackButton">Feedback?</a>

            <div class="virtualTour-contentPanel" id="virtualTour-detail">
            </div>

          </div>

        </div>

      </div>

    </div>
    <!-- end of main column -->

  </div>

  <!-- map column -->
  <div data-starting-point-latitude="33.793003" data-starting-point-longitude="-117.852606" id="virtualTour-mapColumn"><div id="printButton" title="Print map"><a class="icon-print" data-url="/discover/maps-directions/campus-map/print" href="print.aspx" id="virtualTour-printButton" target="_blank" title="Print this page">Print</a></div><div id="virtualTour-mapCanvas"></div></div>
  <!-- end of map column -->

</div>
<!--! end of #container -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//www.chapman.edu/_files/level/js/plugins.js"></script>

<script src="//maps.googleapis.com/maps/api/js?v=3&amp;sensor=false" type="text/javascript"></script>

<script src="./virtualTour/js/plugins.virtualTour.js"></script>
<script src="./virtualTour/js/virtualTour.js"></script>
<script src="./virtualTour/js/chapman.virtualtour.MissionControl.js"></script>
<script src="./virtualTour/js/chapman.virtualtour.MainNavigation.js"></script>
<script src="./virtualTour/js/chapman.virtualtour.Map.js"></script>
<script src="./virtualTour/js/chapman.virtualtour.CategoryMenu.js"></script>
<script src="./virtualTour/js/chapman.virtualtour.ManagePanels.js"></script>
<script src="./virtualTour/js/chapman.virtualtour.Search.js"></script>

<!--<script src="./virtualTour/js/campusMap.js" type="text/javascript"></script>-->

<script>

  $(function()
  {
    chapman.virtualtour.MissionControl.init(false);
  });

</script>
