{{#each this }}
	<input type="hidden" value="{{{this.value}}}" data-name="{{{this.name}}}" data-icon="{{{this.icon}}}">
{{/each}}


<div class="map" id="map">

</div>
<div class="streetVieBar" id="streetViewBar"></div>

<script charset="utf-8">
  new StreetViewBar();
  new MapGen();
</script>
