<!DOCTYPE html>
<html class="no-js" lang="en" class="opacity">
<head>

  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>

  <title>Map Proof Of Concept</title>

  <meta content="Campus map meta description." name="description"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="./javascripts/mapbar.js" charset="utf-8"></script>
  <script src="./javascripts/mapGen.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="/javascripts/jquery.bxslider.min.js"></script>
  <!-- bxSlider CSS file -->
  <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<!--[if lt IE 7]> <body class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <body class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <body class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<body> <!--<![endif]-->
  {{{body}}}
</body>
</html>
