/* line 1, ../sass/helpers/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", arial, verdana, sans-serif;
  color: #353430;
}

/* line 7, ../sass/helpers/_common.scss */
a:link,
a:visited {
  border-bottom: none;
  color: #a82439;
}

/* line 11, ../sass/helpers/_common.scss */
a:focus {
  outline: thin dotted;
}

/* line 15, ../sass/helpers/_common.scss */
a:hover,
a:active {
  color: #c52b43;
  outline: 0;
}
