/* line 1, ../sass/helpers/_common.scss */
body {
  font-family: "proxima-nova", arial, verdana, sans-serif;
}

/* line 5, ../sass/helpers/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", arial, verdana, sans-serif;
  color: #353430;
}

/* line 10, ../sass/helpers/_common.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/helpers/_common.scss */
p, li, blockquote {
  font-family: "proxima-nova", arial, verdana, sans-serif;
  font-size: 14px;
  color: #383838;
  line-height: 1.45em;
}

/* line 23, ../sass/helpers/_common.scss */
a:link,
a:visited {
  border-bottom: none;
  color: #a82439;
}

/* line 27, ../sass/helpers/_common.scss */
a:focus {
  outline: thin dotted;
}

/* line 31, ../sass/helpers/_common.scss */
a:hover,
a:active {
  color: #c52b43;
  outline: 0;
}

/* line 1, ../sass/modules/_breadcrumbs.scss */
.breadcrumbs {
  margin: 0 0 30px 10px;
  clear: both;
}
/* line 6, ../sass/modules/_breadcrumbs.scss */
.breadcrumbs a {
  border-bottom: 1px dotted #C0C0C0;
  text-decoration: none;
}
/* line 12, ../sass/modules/_breadcrumbs.scss */
.breadcrumbs ul li {
  list-style-type: none;
  display: inline-block;
}
/* line 18, ../sass/modules/_breadcrumbs.scss */
.breadcrumbs .home {
  background-image: url("/_files/level/img/home_icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom: none;
  text-indent: -9999px;
  vertical-align: text-top;
  width: 13px;
  height: 17px;
  display: inline-block;
}
/* line 30, ../sass/modules/_breadcrumbs.scss */
.breadcrumbs .bullet {
  margin: 0 6px;
}
@media only screen and (min-width: 1024px) {
  /* line 1, ../sass/modules/_breadcrumbs.scss */
  .breadcrumbs {
    margin: 10px 0 10px 10px;
  }
}
